<div class="row">
	<div class="col-sm-8">
		<h2>ID: {{user._id}}</h2>
		<table class="table table-bordered">
			<tr>
				<th colspan="2">Local Strategy</th>
			</tr>
			<tr>
				<th>First Name</th>
				<td>{{user.local.firstName}}</td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td>{{user.local.lastName}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{user.local.email}}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{user.local.password}}</td>
			</tr>
			<tr>
				<td colspan="2">
				{{#if user.local.password}}
					<a href="/unlink/local" class="btn btn-default">Unlink</a>
				{{/if}}
				{{#unless user.local.password}}
					<a href="/connect/local" class="btn btn-default">Connect Local</a>
				{{/unless}}	
				</td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<th colspan="2">Facebook Strategy</th>
			</tr>
			<tr>
				<th>Facebook ID</th>
				<td>{{user.facebook.id}}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{user.facebook.email}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{user.facebook.name}}</td>
			</tr>
			<tr>
				<td colspan="2">
				{{#if user.facebook.token}}
					<a href="/unlink/facebook" class="btn btn-default">Unlink</a>
				{{/if}}
				{{#unless user.facebook.token}}
					<a href="/connect/facebook" class="btn btn-default">Connect Facebook</a>
				{{/unless}}
				</td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<th colspan="2">Twitter Strategy</th>
			</tr>
			<tr>
				<th>Facebook ID</th>
				<td>{{user.twitter.id}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{user.twitter.username}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{user.twitter.displayName}}</td>
			</tr>
			<tr>
				<td colspan="2">
				{{#if user.twitter.token}}
					<a href="/unlink/twitter" class="btn btn-default">Unlink</a>
				{{/if}}	
				{{#unless user.twitter.token}}
					<a href="/connect/twitter" class="btn btn-default">Connect Twitter</a>
				{{/unless}}
				</td>
			</tr>
		</table>
		<table class="table table-bordered">
			<tr>
				<th colspan="2">Google+ Strategy</th>
			</tr>
			<tr>
				<th>Facebook ID</th>
				<td>{{user.google.id}}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{user.google.email}}</td>
			</tr>
			<tr>
				<th>Name</th>
				<td>{{user.google.name}}</td>
			</tr>
			<tr>
				<td colspan="2">
				{{#if user.google.token}}
					<a href="/unlink/google" class="btn btn-default">Unlink</a>
				{{/if}}
				{{#unless user.google.token}}
					<a href="/connect/google" class="btn btn-default">Connect Google</a>
				{{/unless}}
				</td>
			</tr>
		</table>	
	</div>
</div>